body {
  color: #cc7351;
  text-align: center;
}

input {
  background: none;
  appearance: none;
  border: 0;
  color: #e08f62;
  border-bottom: 2px solid #ded7b1;
}

input::placeholder {
  color: #9dab86;
}

input:focus,
input:active {
  outline: none;
}
